<h2 mat-dialog-title>Token details</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <div class="row">
        <div class="well well-sm">
          <div class="row">
            <div class="col-xs-3 col-md-3 text-center">
              <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp"
                   class="img-rounded img-responsive" />
            </div>
            <div class="col-xs-9 col-md-9 section-box">
              <h2>
                Lumin | Science Collection<a href="http://bootsnipp.com/" target="_blank"><span class="glyphicon glyphicon-new-window">
                            </span></a>
              </h2>
              <p>
                content :hfwjghdciujfnnc.cbhniqlunnc.xbiwuadbc</p>
              <hr />
              <div class="row rating-desc">
                <div class="col-md-12">
                  <span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                                </span><span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                                </span><span class="glyphicon glyphicon-heart"></span>Jonh Doe<span class="separator">|</span>
                  <span class="glyphicon glyphicon-comment"></span>Created at 23/03/2023
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
